COOLIFY_BASE_URL=https://coolify.proto-beta.fr
COOLIFY_TOKEN=replace-with-read-only-token
GITHUB_ORG=betagouv-experimentations
PORT=3000
LOG_LINES=200
APP_CACHE_TTL_MS=300000
MEMBERSHIP_CACHE_TTL_MS=300000
